* {
  margin: 0;
  padding: 0; }

.wrapper {
  min-width: 100%;
  min-height: 100%; }

body {
  font-family: 'Playfair Display SC', serif;
  font-size: 15px; }

.container {
  width: 90%;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  margin: 0 !important;
  padding: 0 !important; }

.header {
  width: 100%;
  background: #333333; }
  .header__menu {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .header__menu ul li {
        font-size: 1.5em;
        font-weight: bold; }
        .header__menu ul li a {
          color: white; }

.about {
  margin-bottom: 30px; }
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .about__image {
    width: 40%; }
  .about__content {
    margin-top: 20px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Comfortaa", cursive;
    text-align: center; }
    .about__content-top {
      margin-bottom: 50px;
      font-family: "Comfortaa", cursive; }
      .about__content-top p {
        font-size: 1.4em; }
    .about__content-intens {
      font-size: 3em;
      color: #cc3333; }
    .about__content-middle {
      margin-bottom: 50px;
      font-family: "Playfair Display SC", serif; }
    .about__content-days {
      font-size: 1.8em;
      font-weight: bold;
      color: #cc3333;
      margin-bottom: 30px; }
    .about__content-title {
      font-size: 8em;
      margin-bottom: 50px; }
      .about__content-title b {
        margin-right: 60px; }
    .about__content-bottom img {
      margin-bottom: 20px; }
    .about__content-bottom p {
      font-size: 4em;
      font-family: "Playfair Display SC", serif; }

.about-two {
  padding: 20px 0;
  background: #eef3fb; }
  .about-two__title {
    color: #cc3333;
    font-size: 3em;
    text-align: center;
    margin: 50px 0; }
  .about-two__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 100px; }
  .about-two__left {
    width: 60%; }
  .about-two__right {
    width: 40%;
    background: white;
    padding: 50px 0;
    position: relative; }
    .about-two__right ul {
      width: 90%;
      margin: 0 auto; }
      .about-two__right ul li {
        font-size: 1.6em;
        text-align: center;
        font-weight: bold; }
      .about-two__right ul li:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: black;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px; }
      .about-two__right ul li:last-child:after {
        display: none; }
  .about-two__right::after {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid red;
    width: 100%;
    height: 100%;
    top: 30px;
    right: 30px; }
  .about-two-study {
    margin-bottom: 50px; }
    .about-two-study ul li {
      margin-bottom: 20px;
      font-size: 1.7em;
      font-weight: bold; }
  .about-two-start ul li {
    margin-bottom: 10px;
    font-size: 1.2em; }
    .about-two-start ul li b {
      margin-right: 10px; }
  .about-two__btn a {
    font-family: "Comfortaa", cursive;
    color: white;
    font-size: 2em;
    background: #ff0000;
    border-radius: 25px;
    width: 390px;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .about-two__btn a:hover {
    background: white;
    color: black;
    border: 1px solid black; }

.banner-one {
  background: url(../../assets/img/banner1.png) no-repeat center/cover;
  width: 100%;
  padding-top: 66.71875%;
  position: relative; }
  .banner-one article {
    font-size: 4em;
    font-family: "Comfortaa", cursive;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 30%;
    text-align: center;
    color: white; }

.foryou__top h2 {
  font-size: 3em;
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin: 50px 0; }

.foryou__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 50px; }
  .foryou__top ul li {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .foryou__top ul li p {
      font-size: 1.6em;
      width: 100%; }

.foryou__middle {
  background: #eef3fb;
  padding: 50px 0; }
  .foryou__middle article {
    font-size: 2.4em;
    font-family: "Comfortaa", cursive;
    text-align: center;
    width: 50%;
    margin: 0 auto; }

.banner-two {
  background: url(../../assets/img/banner2.png) no-repeat center/cover;
  width: 100%;
  padding-top: 62.062016%;
  position: relative; }
  .banner-two ul {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2em;
    color: white;
    text-align: center;
    width: 80%; }
    .banner-two ul li {
      margin-bottom: 50px;
      font-weight: bold; }
  .banner-two__btn a {
    position: absolute;
    font-family: "Comfortaa", cursive;
    color: white;
    font-size: 2em;
    background: #ff0000;
    border-radius: 25px;
    width: 390px;
    margin: 0 auto;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    bottom: 20%;
    left: 36%; }
  .banner-two__btn a:hover {
    background: white;
    color: black;
    border: 1px solid black; }

.waiting {
  padding: 50px 0; }
  .waiting__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .waiting__left {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .waiting__left h2 {
      color: #ff0000;
      font-weight: bold;
      margin-bottom: 50px;
      font-size: 2em;
      font-family: "Comfortaa", cursive; }
    .waiting__left ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      font-size: 1.5em;
      font-weight: bold;
      font-family: "Comfortaa", cursive;
      height: 100%;
      width: 80%; }
      .waiting__left ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
  .waiting .krest {
    margin-right: 10px;
    font-size: 1.5em;
    color: red; }
  .waiting__right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .waiting__right h2 {
      color: green;
      font-weight: bold;
      margin-bottom: 50px;
      font-size: 2em;
      font-family: "Comfortaa", cursive; }
    .waiting__right ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 1.5em;
      font-weight: bold;
      font-family: "Comfortaa", cursive; }
      .waiting__right ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 50px; }
  .waiting .yes {
    margin-right: 10px;
    color: green; }

.phrase {
  background: #333333; }
  .phrase article {
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
    color: white;
    font-weight: bold;
    letter-spacing: 1px; }

.author__img-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px; }
  .author__img-top img {
    -webkit-box-shadow: 0 0 20px 0px;
    box-shadow: 0 0 20px 0px; }

.author__img-middle {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .author__img-middle img {
    -webkit-box-shadow: 0 0 20px 0px;
    box-shadow: 0 0 20px 0px; }

.author__about {
  margin-bottom: 50px; }
  .author__about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .author__about-wrap p {
      width: 50%;
      font-size: 2em;
      line-height: 40px;
      font-family: "Comfortaa", cursive; }

.phrase-two {
  margin: 50px 0; }
  .phrase-two article {
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Comfortaa", cursive; }

.phrase__small {
  background: #333333;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px; }

.program {
  background: #edf3fb;
  padding: 20px; }
  .program__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .program__img-left {
    width: 60%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .program__img-right {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .program__list {
    position: absolute;
    top: 2em;
    left: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .program__list h2 {
      font-size: 2.4em;
      margin-bottom: 30px; }
    .program__list ul {
      width: 80%;
      margin: 0 auto; }
      .program__list ul li {
        font-size: 1.7em;
        font-family: "Comfortaa", cursive;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: bold; }
        .program__list ul li b {
          color: red;
          margin-right: 7px; }
  .program__btn a {
    font-family: "Comfortaa", cursive;
    color: white;
    font-size: 2em;
    background: #ff0000;
    border-radius: 25px;
    width: 390px;
    margin: 0 auto;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 50px; }
  .program__btn a:hover {
    color: black;
    background: white;
    border: 1px solid black; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
