$fc:'Comfortaa', cursive;
$fp:'Playfair Display SC', serif;

.banner-one {
    position: relative;
    img{
        //background: url(../../assets/img/banner1.png) no-repeat center/cover;
        width: 100%;
    }
    article{
        font-size: 4em;
        font-family: $fc;
        position: absolute;
        width: 90%;
        left: 5%;
        top: 30%;
        text-align: center;
        color: white;
    }
}
