.header{
    width: 100%;
    background: #333333;
    
    &__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

            li{
                font-size: 1.5em;
                font-weight: bold;
                a{
                    color: white;
                    display: block;
                    padding: 30px 0;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                }
                a:hover{
                    color: #cc3333;
                }
            }
        }
    }
}
.burger {
    color: white;
    padding: 5px 0;
    font-size: 30px; 
    display: none;}