.banner-one {
  position: relative; }
  .banner-one img {
    width: 100%; }
  .banner-one article {
    font-size: 4em;
    font-family: "Comfortaa", cursive;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 30%;
    text-align: center;
    color: white; }
