* {
  margin: 0;
  padding: 0; }

.wrapper {
  min-width: 100%;
  min-height: 100%; }

body {
  font-family: 'Playfair Display SC', serif;
  font-size: 16px; }

.container {
  width: 90%;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  margin: 0 !important;
  padding: 0 !important; }
