.willbe {
  margin-bottom: 50px; }
  .willbe h2 {
    font-size: 3em;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    text-align: center;
    margin: 50px 0; }
  .willbe ul {
    width: 60%;
    margin: 0 auto; }
    .willbe ul li {
      font-size: 2em;
      font-family: "Comfortaa", cursive;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 30px; }
      .willbe ul li b {
        color: red;
        margin-right: 10px; }
    .willbe ul li:last-child {
      margin: 0; }
